h3 {
  display: block;
  text-align: center;
  font-size: 2rem;
  margin: 30px 0 20px 0;
  -webkit-text-fill-color: rgb(250, 250, 250);
  -webkit-text-stroke-color: rgb(240, 219, 182);
  -webkit-text-stroke-width: 1px;
}

#About {
  display: flex;
  flex-direction: column;
  background: rgba(248, 248, 248, 0.1);
  padding: 25px;
  position: relative;
  max-width: 80%;
  margin: 0 auto;
  align-items: center;
  .paragraph {
    margin: 20px;
    width: 70%;
    color: white;
    line-height: 3rem;
    font-size: 25px;
    z-index: 999;
  }
}

.welcome {
  max-width: 100%;
  color: white;
  text-align: center;
  margin-block-start: 20px;
  margin-block-end: -30px;
}

.meTitle {
  -webkit-text-fill-color: rgb(250, 250, 250);
  -webkit-text-stroke-color: rgb(240, 219, 182);
  -webkit-text-stroke-width: 1px;
  margin-block-start: -70px;
  z-index: 999;
}

#image-2 {
  border: 2px solid @primary-dark;
  border-radius: 30px;
  z-index: -1;
}

#img-me {
  width: 300px;
}

// portfolio text

#upperWrap,
#lowerWrap {
  overflow: hidden;
  height: 30px;
  line-height: 30px;
  font-weight: 700;
}

#lower {
  font-family: "Press Start 2P", sans-serif;
  font-size: 15px;
}

#upper {
  font-size: 24px;
}

#line {
  width: 300px;
  margin: 0 auto;
  height: 1px;
  background: white;
}

.quote {
  padding-top: 7%;
  padding-bottom: 5%;
  position: relative;
}

// projects

#Projects {
  display: flex;
  align-items: center;
  justify-content: center;
  .placeholder1 {
    width: 50%;
    padding: 30px;
    margin: 10px;
    background: rgba(248, 248, 248, 0.1);
    p {
      line-height: 3rem;
    }
  }
  .placeholder2 {
    width: 50%;
    padding: 30px;
    margin: 20px;
    background: rgba(248, 248, 248, 0.1);
    p {
      line-height: 3rem;
    }
  }
}

#projectimage {
  padding: 20px;
  margin: 0 auto;
}

#projectimage2 {
  padding: 20px;
  margin: 0 auto;
}


#Experience {
  display: flex;
}

.HTML, .CSS {
  width: 15%;
}

